<div class="container">
			<table width="100%">
				<tbody>
					<tr ng-repeat="row in cart_items">
						<td><img src="{{row.img}}" width="40px"/></td>
						<td>{{row.short_desc}}</td>
						<td>{{row.price}}</td>
						<td><a ng-click="deleteItem($index)">delete</a></td>
					</tr>
					<tr>
						<td>Total item(s) {{no_items}}</td>
						<td></td>
						<td>Total cost: Rs. {{cost}}</td>
					</tr>
				</tbody>
			</table>
        <button type="button" class="btn btn-default" ng-click="resetPartialContent()">Ignore</button>
        <button type="button" class="btn btn-primary">Checkout</button>
</div>
