	<!-- ITEMS browse -->
	<div class="container" id="browse-page">
		<div class="row">
			<div class="col-lg-3">
				<ul class="list-group">
				<li class="nav-header list-group-item" id="my-nav-header">
  					<a  data-toggle="collapse" data-target="#boysMenu" style="text-decoration:none">
    					<span class="label label-danger">Today's deal</span> <i class="glyphicon glyphicon-chevron-down"></i>
  					</a>
  					<ul style="list-style: none;" class="collapse in" id="boysMenu">
    					<li><a   style="text-decoration:none">All <span class="badge badge-info">100</span></a></li>
	    				<li><a   style="text-decoration:none">3-4 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">4-5 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">5-6 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">6-7 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">7-8 Years <span class="badge badge-info">20</span></a></li>
    					<li><a   style="text-decoration:none">8-9 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">9-10 Years <span class="badge badge-info">10</span></a></li>
  					</ul>
				</li>
				<li class="nav-header list-group-item" id="my-nav-header">
  					<a  data-toggle="collapse" data-target="#girlsMenu" style="text-decoration:none">
    					<span class="label label-danger">Girls</span> <i class="glyphicon glyphicon-chevron-right"></i>
  					</a>
	  				<ul style="list-style: none;" class="collapse" id="girlsMenu">
    					<li><a   style="text-decoration:none">All <span class="badge badge-info">100</span></a></li>
	    				<li><a   style="text-decoration:none">3-4 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">4-5 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">5-6 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">6-7 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">7-8 Years <span class="badge badge-info">20</span></a></li>
    					<li><a   style="text-decoration:none">8-9 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">9-10 Years <span class="badge badge-info">10</span></a></li>
  					</ul>
				</li>
				<li class="nav-header list-group-item" id="my-nav-header">
					<a  data-toggle="collapse" data-target="#ethnicMenu" style="text-decoration:none">
    					<span class="label label-danger">Boys</span> <i class="glyphicon glyphicon-chevron-right"></i>
  					</a>
  					<ul style="list-style: none;" class="collapse" id="ethnicMenu">
    					<li><a   style="text-decoration:none">All <span class="badge badge-info">100</span></a></li>
	    				<li><a   style="text-decoration:none">3-4 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">4-5 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">5-6 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">6-7 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">7-8 Years <span class="badge badge-info">20</span></a></li>
    					<li><a   style="text-decoration:none">8-9 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">9-10 Years <span class="badge badge-info">10</span></a></li>
  					</ul>
				</li>				
				<li class="nav-header list-group-item" id="my-nav-header">
					<a  data-toggle="collapse" data-target="#partyMenu" style="text-decoration:none">
    					<span class="label label-danger">Ethnic</span> <i class="glyphicon glyphicon-chevron-right"></i>
  					</a>
  					<ul style="list-style: none;" class="collapse" id="partyMenu">
    					<li><a   style="text-decoration:none">All <span class="badge badge-info">100</span></a></li>
	    				<li><a   style="text-decoration:none">3-4 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">4-5 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">5-6 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">6-7 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">7-8 Years <span class="badge badge-info">20</span></a></li>
    					<li><a   style="text-decoration:none">8-9 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">9-10 Years <span class="badge badge-info">10</span></a></li>
  					</ul>
				</li>
				<li class="nav-header list-group-item" id="my-nav-header">
					<a  data-toggle="collapse" data-target="#dealsMenu" style="text-decoration:none">
    					<span class="label label-danger">Party</span> <i class="glyphicon glyphicon-chevron-right"></i>
  					</a>
  					<ul style="list-style: none;" class="collapse" id="dealsMenu">
    					<li><a   style="text-decoration:none">All <span class="badge badge-info">100</span></a></li>
	    				<li><a   style="text-decoration:none">3-4 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">4-5 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">5-6 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">6-7 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">7-8 Years <span class="badge badge-info">20</span></a></li>
    					<li><a   style="text-decoration:none">8-9 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">9-10 Years <span class="badge badge-info">10</span></a></li>
  					</ul>
				</li>				
				</ul>
			</div>
			<div class="col-lg-9">
    			<div data-ng-repeat="item in items_list">
                		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                			<a ng-href="#order" ng-click="selectItem(item)" class="thumbnail">
	            				<img src="{{item.img}}" alt="..." />
            				</a>            
            				<div class="caption">
        						<strong>{{item.short_desc}} - Rs: {{item.price}}</strong>
        						<p> {{item.long_desc}}</p>
        						<!-- <p><a ng-click="addItem(item)" class="btn btn-danger" role="button" data-template="partial/cart-alert.html" data-placement="top" data-duration="3" data-animation="am-fade-and-slide-top" data-container="body" data-keyboard="true" bs-alert>Add to cart</a>-->
        						<p><a ng-click="addItem(item)" class="label label-danger" data-toggle="modal" data-target="#myModal">Add to cart</a>
        							<a ng-href="#order" ng-click="selectItem(item)" class="label label-primary" role="button">View detail</a>
        						</p>
        						<div ng-include src="'partial/order_page.html'"></div>
	      					</div>
                		</div>
                </div>
            </div>
		</div>
	</div>
	
	<script type="text/javascript">
	
		$('[data-toggle=collapse]').click(function(){
	
  			// toggle icon
  			$(this).find("i").toggleClass("glyphicon glyphicon-chevron-right glyphicon glyphicon-chevron-down");
  
		});

		$('.collapse').on('show', function (e) {
  
  			// hide open menus
  			$('.collapse').each(function(){
      		if ($(this).hasClass('in')) {
          		$(this).collapse('toggle');
      		}
    	});
  
		})
	</script>	