	<!-- ITEMS browse -->
	<!-- <div class="container-fluid hidden-lg" style="margin-bottom:20px">
		<button type="button" class="btn btn-lg btn-danger" data-template="partial/filter_aside.html" data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body">
		Filter
		</button>
	</div> -->
	<div class="container" id="browse-page">
		<div class="row">		
			<div class="col-lg-3 visible-lg">
				<div ng-include src="'partial/filter.html'"></div>
			</div>
			<div class="col-lg-9">
    			<div data-ng-repeat="item in items_list">
                		<div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 thumbnail">
                			<div style="height:250px;">
                			<a ng-href="#order" ng-click="selectItem(item)">
	            				<img ng-src="{{item.img}}=s250" class="lazy" alt="..." />
            				</a>            
            				</div>
            				<div class="caption">
        						{{item.short_desc}} <br>
        						Rs: {{item.price}}
        						<p> {{item.long_desc}}</p>
        						<!-- <p><a ng-click="addItem(item)" class="btn btn-danger" role="button" data-template="partial/cart-alert.html" data-placement="top" data-duration="3" data-animation="am-fade-and-slide-top" data-container="body" data-keyboard="true" bs-alert>Add to cart</a>-->
        						<div ng-include src="'partial/order_page.html'"></div>
	      					</div>
                		</div>
                </div>
            </div>
		</div>
	</div>
	
	<script type="text/javascript">
	
		$('[data-toggle=collapse]').click(function(){
	
  			// toggle icon
  			$(this).find("i").toggleClass("glyphicon glyphicon-chevron-right glyphicon glyphicon-chevron-down");
  
		});

		$('.collapse').on('show', function (e) {
  
  			// hide open menus
  			$('.collapse').each(function(){
      		if ($(this).hasClass('in')) {
          		$(this).collapse('toggle');
      		}
    	});
  
		})
	</script>	