<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title">Filter</h4>
      </div>
      <div class="aside-body">
				<ul class="list-group">
				<li class="nav-header list-group-item" id="my-nav-header">
  					<a  data-toggle="collapse" data-target="#boysMenu" style="text-decoration:none">
    					<span class="label label-danger">Today's deal</span> <i class="glyphicon glyphicon-chevron-down"></i>
  					</a>
  					<ul style="list-style: none;" class="collapse in" id="boysMenu">
    					<li><a   style="text-decoration:none">All <span class="badge badge-info">100</span></a></li>
	    				<li><a   style="text-decoration:none">3-4 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">4-5 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">5-6 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">6-7 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">7-8 Years <span class="badge badge-info">20</span></a></li>
    					<li><a   style="text-decoration:none">8-9 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">9-10 Years <span class="badge badge-info">10</span></a></li>
  					</ul>
				</li>
				<li class="nav-header list-group-item" id="my-nav-header">
  					<a  data-toggle="collapse" data-target="#girlsMenu" style="text-decoration:none">
    					<span class="label label-danger">Girls</span> <i class="glyphicon glyphicon-chevron-right"></i>
  					</a>
	  				<ul style="list-style: none;" class="collapse" id="girlsMenu">
    					<li><a   style="text-decoration:none">All <span class="badge badge-info">100</span></a></li>
	    				<li><a   style="text-decoration:none">3-4 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">4-5 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">5-6 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">6-7 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">7-8 Years <span class="badge badge-info">20</span></a></li>
    					<li><a   style="text-decoration:none">8-9 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">9-10 Years <span class="badge badge-info">10</span></a></li>
  					</ul>
				</li>
				<li class="nav-header list-group-item" id="my-nav-header">
					<a  data-toggle="collapse" data-target="#ethnicMenu" style="text-decoration:none">
    					<span class="label label-danger">Boys</span> <i class="glyphicon glyphicon-chevron-right"></i>
  					</a>
  					<ul style="list-style: none;" class="collapse" id="ethnicMenu">
    					<li><a   style="text-decoration:none">All <span class="badge badge-info">100</span></a></li>
	    				<li><a   style="text-decoration:none">3-4 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">4-5 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">5-6 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">6-7 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">7-8 Years <span class="badge badge-info">20</span></a></li>
    					<li><a   style="text-decoration:none">8-9 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">9-10 Years <span class="badge badge-info">10</span></a></li>
  					</ul>
				</li>				
				<li class="nav-header list-group-item" id="my-nav-header">
					<a  data-toggle="collapse" data-target="#partyMenu" style="text-decoration:none">
    					<span class="label label-danger">Ethnic</span> <i class="glyphicon glyphicon-chevron-right"></i>
  					</a>
  					<ul style="list-style: none;" class="collapse" id="partyMenu">
    					<li><a   style="text-decoration:none">All <span class="badge badge-info">100</span></a></li>
	    				<li><a   style="text-decoration:none">3-4 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">4-5 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">5-6 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">6-7 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">7-8 Years <span class="badge badge-info">20</span></a></li>
    					<li><a   style="text-decoration:none">8-9 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">9-10 Years <span class="badge badge-info">10</span></a></li>
  					</ul>
				</li>
				<li class="nav-header list-group-item" id="my-nav-header">
					<a  data-toggle="collapse" data-target="#dealsMenu" style="text-decoration:none">
    					<span class="label label-danger">Party</span> <i class="glyphicon glyphicon-chevron-right"></i>
  					</a>
  					<ul style="list-style: none;" class="collapse" id="dealsMenu">
    					<li><a   style="text-decoration:none">All <span class="badge badge-info">100</span></a></li>
	    				<li><a   style="text-decoration:none">3-4 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">4-5 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">5-6 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">6-7 Years <span class="badge badge-info">15</span></a></li>
    					<li><a   style="text-decoration:none">7-8 Years <span class="badge badge-info">20</span></a></li>
    					<li><a   style="text-decoration:none">8-9 Years <span class="badge badge-info">10</span></a></li>
    					<li><a   style="text-decoration:none">9-10 Years <span class="badge badge-info">10</span></a></li>
  					</ul>
				</li>				
				</ul>
      </div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
        <button type="button" class="btn btn-primary" ng-click="$hide()">Save changes</button>
      </div>
    </div>
  </div>
</div>
