<div id="dress_filter">
	<a href="#" id="dress_filter_label" onclick="slider()"><span class="glyphicon glyphicon-filter"></span></a>
	<div class="column">
		<li style="opacity: 1;" data-filter="global_attr_article_type_facet" data-option="Tshirts" data-num="5161" data-index="t" class="option">
			<label>
				<input data-filter="global_attr_article_type_facet" data-option="Tshirts" class="checkbox" type="checkbox">Tshirts<span class="num">(5161)</span>
			</label>
		</li>	
		<li style="opacity: 1;" data-filter="global_attr_article_type_facet" data-option="Tshirts" data-num="5161" data-index="t" class="option">
			<label>
				<input data-filter="global_attr_article_type_facet" data-option="Tshirts" class="checkbox" type="checkbox">Tshirts<span class="num">(5161)</span>
			</label>
		</li>	
		<li style="opacity: 1;" data-filter="global_attr_article_type_facet" data-option="Tshirts" data-num="5161" data-index="t" class="option">
			<label>
				<input data-filter="global_attr_article_type_facet" data-option="Tshirts" class="checkbox" type="checkbox">Tshirts<span class="num">(5161)</span>
			</label>
		</li>	
		<li style="opacity: 1;" data-filter="global_attr_article_type_facet" data-option="Tshirts" data-num="5161" data-index="t" class="option">
			<label>
				<input data-filter="global_attr_article_type_facet" data-option="Tshirts" class="checkbox" type="checkbox">Tshirts<span class="num">(5161)</span>
			</label>
		</li>	
		<li style="opacity: 1;" data-filter="global_attr_article_type_facet" data-option="Tshirts" data-num="5161" data-index="t" class="option">
			<label>
				<input data-filter="global_attr_article_type_facet" data-option="Tshirts" class="checkbox" type="checkbox">Tshirts<span class="num">(5161)</span>
			</label>
		</li>	

	</div>			
</div>