  	<div class="container" id="colored-hdr"></div>
  	<div class="container">
		<div class="row">
			<div class="lg-col-3"><img src="../images/frontend/logo/merged_logo.png" class="img-responsive"></div>
				<div class="lg-col-9">
					<nav class="navbar navbar-default" role="navigation" id="my-navbar">
	  					<div class="container-fluid">
    
    					<!-- Brand and toggle get grouped for better mobile display -->
    					<div class="navbar-header">
      						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        						<span class="sr-only">Toggle navigation</span>
        						<span class="icon-bar"></span>
        						<span class="icon-bar"></span>
        						<span class="icon-bar"></span>
      						</button>
    					</div>

    					<!-- Collect the nav links, forms, and other content for toggling -->
    					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      						<ul class="nav navbar-nav">
        						<li><a href="#">Home</a></li>
        						<li><a href="#about">About</a></li>
        						<li class="dropdown">
          							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
          							<ul class="dropdown-menu">
            							<li><a href="#browse">Boys</a></li>
            							<li><a href="#browse">Girls</a></li>
            							<li class="divider"></li>
            							<li><a href="#browse">Festive Wear</a></li>
            							<li class="divider"></li>
            							<li><a href="#browse">Party Wear</a></li>
          							</ul>
        						</li>
      						</ul>
      						<form class="navbar-form navbar-left" role="search">
        						<div class="form-group">
          							<!-- <input type="text" class="form-control" placeholder="Search">-->
          							<input type="text" class="form-control" ng-model="selected" ng-options="i.img for i in items_list" placeholder="Search" bs-typeahead>
        						</div>
        						<button type="submit" class="btn btn-default">Submit</button>
      						</form>
      						<ul class="nav navbar-nav navbar-right">
        						<li class="dropdown">
          							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
          								<span class="label label-danger">
          									<span class="glyphicon glyphicon-shopping-cart"></span><span class="badge badge-info">{{$parent.no_items}}</span>
          								</span>
          								<b class="caret"></b>
          							</a>
          							<ul class="dropdown-menu">
            							<li><a href="#"><span class="badge badge-info">{{$parent.no_items}}</span> items</a></li>
            							<li><a href="#">Price: <span class="badge badge-info">Rs. {{$parent.cost}}</span></a></li>
            							<li class="divider"></li>
            							<li><a href="#checkout">Checkout</a></li>
          							</ul>
        						</li>
        						<li><a href="#">Contact Us</a></li>        
      						</ul>
    					</div><!-- /.navbar-collapse -->
  					</div><!-- /.container-fluid -->
				</nav>
			</div>
		</div>
	</div>