<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><span class="label label-success">Cart Value: </span><span class="badge badge-info">Rs. {{$parent.cost}}</span></h4>
      </div>
      <div class="modal-body">
      	<div class="container-fluid" style="overflow:true">
      		<div ng-repeat="i in cart_items">
      			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" style="margin-top:5px">      				
      				<img src="{{i.img}}" style="width:150px" class="img-responsive">
      				<span class="label label-default">{{i.short_desc}}</span>
      				<span class="label label-default">Rs. {{i.price}}</span>
      				<a ng-click="deleteItem($index)" class="label label-primary">Delete</a>
      			</div>
      		</div>
      	</div>
	</div>
    <div class="modal-footer">
        <a class="label label-primary" data-dismiss="modal">Later</a>
        <a href="#checkout" class="label label-danger" data-dismiss="modal">Checkout</a>
    </div>
    </div>
  </div>
</div>
